.food-swiper{
width: 18vw ;
    margin: 0 auto;
    height: 26vh;
}

.food-inner-swiper{
    width: 100%;
    height: 100%;
}
.food-img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:767px) and (max-width:1024px){
    .food-swiper{
        width: 30vw !important;
        margin: 0 auto;
        height: 25vh;
    } 
}
@media screen and (min-width:240px) and (max-width:766px){
    .food-swiper {
        width: 35vw;
        margin: 0 auto;
        height: 18vh;
        /* margin-bottom: 3rem; */
    }
}
