.contact-main{
    width: 80%;
    margin: 0 auto;
    margin-top: 13rem !important;
}
.contact-head{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}
.hr-left{
    width: 30%;
    height: 1px;
    margin-top: 1rem;
    margin-right: 1.5rem;
    border: none;
    background: lightslategray;
}
.heading-contact{
    font-size: 27px;
    font-style: normal;
    font-family: auto;
    font-weight: 600;
    color: var(--light-color);
}
.hr-contact{
    width: 30%;
    height: 1px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    border: none;
    background: lightslategray;
}
.heading-text{
    font-size: 33px;
    color: white;
    font-family: auto;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.para{
    font-size: 16px;
    color: white;
    font-family: auto;
    line-height: 23px;
    width: 65%;
    margin: 0 auto;
}
.button-style{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    transition: var(--transition);
}
.contact-btn{
    width: 12rem;
    height: 92%;
    font-size: 18px;
    font-family: auto;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: transparent;
    border: 1.5px solid var(--light-color);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contact-btn:hover{
    background-color: var(--light-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.5s ease-in-out;
}
.text-light{
    color: var(--light-color);
    font-size: 14px;
    margin-left: 10px;
}
.content-style{
    font-size: 18px;
    font-family: auto;
    font-weight: 400;
}
.contact-btn a{
    font-size: 16px;
    font-family: auto;
    text-decoration: none;
    color:var(--light-color);
}
.content{
    margin-bottom: 1rem;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-btn:hover{

    text-decoration: none;
    color:var(--main-color);
}
@media screen and (max-width:767px) {
    .hr-left{
        width: 0%;
    }
    .hr-contact{
        width: 0%;
    }
    .para{
        width: 100%;
    }
    .contact-main{
        margin-top: 1rem !important;
    }
    .text-light{
        font-size: 15px;
    }
    
}