.footer{
    width: 80%;
    /* background: blueviolet; */
    margin: 0 auto;
    display: grid;
    
    padding: 6rem 0 3rem 0;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: var(--content);
    font-family: auto;
    margin: 0.5rem 0;
}
p{
    margin-left: 5px;
}
.stars{
    font-size: 14px;
    font-weight: 300;
    color: var(--light-color);
    font-family: auto;
    margin: 0.5rem 0;
}
.social-icons{
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}
